*{
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    margin: 0px;
}
#home{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Images/homee.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;
    height:100vh;
}
#img {
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  /* animation: fadeIn 2s ease-in-out; */
}
#img {
  animation: zoomIn 1.5s ease infinite alternate;
}


@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}





#info{
    display:flex;
    width:80%;
    height:20%;
margin-right: 10%;
}
